.carousel-brand {
  height: 150px;
  display: flex;
  justify-content: center;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    overflow: hidden;
  }

  &__container-items {
    position: absolute;
    left: 0;
    display: flex;
    animation-name: carouselBrand;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__item {
    width: 300px;
  }
}

@keyframes carouselBrand {
  from {
    left: 0;
  }
  to {
    left: -1500px;
  }
}
