.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 20px;
  @include notebook {
    flex-direction: row;
    justify-content: space-around;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    @include notebook {
      width: 50%;
    }
  }
  &__title {
    color: $secondary-color;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &__subtitle {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  &__description {
    margin: 1rem 0;
    color: $text-color;
    line-height: 1.7;
    text-align: justify;
  }
  &__image {
    background-image: url(../../assets/images/CoffeeShop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    @include notebook {
      height: 400px;
      width: 40%;
    }
  }

  a {
    color: $secondary-color;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}
