.benefits {
  display: flex;
  justify-content: center;
  &__container {
    width: 95%;
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include notebook {
      padding: 100px 0;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include notebook {
      margin-bottom: 70px;
    }

    &:nth-last-child(1) {
      margin-bottom: 70px;
    }
  }

  &__title {
    margin: 20px 0;
    font-weight: bold;
    @include notebook {
      margin-top: 70px;
    }
  }

  &__icon {
    margin-top: 70px;
    color: $secondary-color;
    font-size: 6rem;
  }
}
